fvcore==0.1.5.post20220512
chumpy==0.70
commentjson==0.9.0
ConfigArgParse==1.7
cyclonedds==0.10.5
docutils==0.21.2
easydict==1.13
einops==0.8.0
face_alignment==1.4.1
face_detection_tflite==0.6.0
ghapi==1.0.5
imageio==2.34.1
InsightFace==0.7.3
ipdb==0.13.13
ipython==8.12.3
kornia==0.7.2
loguru==0.7.2
lpips==0.1.4
matplotlib==3.9.0
moderngl==5.10.0
nox==2024.4.15
numpy==1.23.5
onnxruntime==1.18.0
open3d==0.18.0
opencv_python==4.10.0.82
pandas==2.2.2
Pillow==10.3.0
pyntcloud==0.3.1
pyquaternion==0.9.9
pytest==8.2.2
PyYAML==6.0.1
Requests==2.32.3
rich==13.7.1
scipy==1.13.1
setuptools==59.6.0
scikit-image ==0.23.2
sympy==1.12.1
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow_probability==0.24.0
termcolor==2.4.0
torchmetrics==1.4.0.post0
torchvision==0.12.0+cu113
torchviz==0.0.2
tqdm==4.66.4
trimesh==3.12.6
wandb==0.17.1
yacs==0.1.8
