absl-py==2.1.0
addict==2.4.0
apturl==0.5.2
astroid==3.1.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
bcrypt==3.2.0
blinker==1.8.2
Brlapi==0.8.3
certifi==2020.6.20
chardet==4.0.0
chumpy==0.70
click==8.1.7
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
commentjson==0.9.0
ConfigArgParse==1.7
contourpy==1.2.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.2.18
decorator==5.1.1
defer==1.0.6
dill==0.3.8
distlib==0.3.7
distro==1.7.0
distro-info==1.1+ubuntu0.2
duplicity==0.8.21
easydict==1.13
exceptiongroup==1.2.1
executing==2.0.1
face-alignment==1.4.1
face-detection-tflite==0.6.0
fail2ban==0.11.2
fasteners==0.14.1
fastjsonschema==2.19.1
filelock==3.12.4
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
future==0.18.2
fvcore==0.1.5.post20221221
gast==0.5.4
glcontext==2.5.0
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
httplib2==0.20.2
idna==3.3
imageio==2.34.1
importlib-metadata==4.6.4
iopath==0.1.10
ipython==8.25.0
ipywidgets==8.1.3
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
keras==3.3.3
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
lark-parser==0.7.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.43.0
lockfile==0.12.2
loguru==0.7.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.3.2
moderngl==5.10.0
monotonic==1.6
more-itertools==8.10.0
mpi4py==3.1.3
namex==0.0.8
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
numba==0.60.0
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.0
olefile==0.46
open3d==0.18.0
opencv-python==4.10.0.82
opt-einsum==3.3.0
optree==0.11.0
packaging==24.1
pandas==2.2.2
paramiko==2.9.3
parso==0.8.4
pbr==5.11.1
pexpect==4.8.0
pillow==10.3.0
platformdirs==3.11.0
plotly==5.22.0
portalocker==2.8.2
prompt_toolkit==3.0.47
protobuf==4.25.3
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.20.1
pycodestyle==2.11.1
pycups==2.0.1
pyflakes==3.2.0
Pygments==2.18.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyquaternion==0.9.9
pyRFC3339==1.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
pytorch3d==0.7.2
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
referencing==0.35.1
reportlab==3.6.8
requests==2.25.1
retrying==1.3.4
rich==13.7.1
rpds-py==0.18.1
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
SecretStorage==3.3.1
six==1.16.0
ssh-import-id==5.11
stack-data==0.6.3
stevedore==5.1.0
systemd-python==234
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.22
tomli==2.0.1
tomlkit==0.12.4
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.66.4
traitlets==5.14.3
trash-cli==0.17.1.14
trimesh==3.12.6
typing_extensions==4.10.0
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
virtualenv==20.24.5
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
xdg==5
xkit==0.0.0
yacs==0.1.8
zipp==1.0.0
